.bg-bhuvan_viewer3t2{width:343px;height:60px;background:url(css_sprites.png) -10px -120px}
.bg-bhuvan_viewer3t3{width:315px;height:60px;background:url(css_sprites.png) -10px -200px}

.bg-dl{width:45px;height:45px;background:url(css_sprites.png) -345px -200px}
.bg-coastal{width:45px;height:44px;background:url(css_sprites.png) -690px -530px}

.bg-3D,.bg-hp,.bg-imagegallery,.bg-manipur,.bg-oscat,.bg-pb,.bg-sikkim,.bg-suvidha,.bg-ts{width:45px;height:45px}
.bg-ts{background:url(css_sprites.png) -10px -280px}
.bg-manipur{background:url(css_sprites.png) -75px -280px}
.bg-pb{background:url(css_sprites.png) -140px -280px}
.bg-3D{background:url(css_sprites.png) -205px -280px}
.bg-sikkim{background:url(css_sprites.png) -270px -280px}
.bg-imagegallery{background:url(css_sprites.png) -335px -280px}
.bg-oscat{background:url(css_sprites.png) -10px -345px}
.bg-suvidha{background:url(css_sprites.png) -75px -345px}
.bg-hp{background:url(css_sprites.png) -140px -345px}

.bg-Intdisaster,.bg-br,.bg-cleanganga_old,.bg-cris,.bg-deltas_india,.bg-discover,.bg-gj,.bg-hr,.bg-jh,.bg-jk,.bg-ka,.bg-mh,.bg-mp,.bg-nagaland,.bg-or,.bg-rj,.bg-tea,.bg-tn,.bg-tripura,.bg-uk,.bg-up,.bg-wb{width:45px}
.bg-2d,.bg-Intdisaster,.bg-Thematic,.bg-ap,.bg-arunachal,.bg-assam,.bg-br,.bg-building,.bg-ch,.bg-cleanganga_old,.bg-cloud,.bg-cris,.bg-deltas_india,.bg-demographics,.bg-disaster_services,.bg-discover,.bg-download2,.bg-flycatchers,.bg-forestry_hp,.bg-forestry_ka,.bg-ga,.bg-gj,.bg-grass,.bg-horticulture,.bg-housing,.bg-hr,.bg-island,.bg-jh,.bg-jk,.bg-ka,.bg-kl,.bg-manu,.bg-map,.bg-meghalaya,.bg-mh,.bg-mizoram,.bg-moef,.bg-mp,.bg-municipalgis,.bg-nagaland,.bg-nices,.bg-or,.bg-park,.bg-planning,.bg-plantation,.bg-rail,.bg-rj,.bg-sat_aibp,.bg-sea,.bg-shapefile,.bg-sports,.bg-tea,.bg-tn,.bg-tollgate,.bg-tripura,.bg-uk,.bg-up,.bg-urban_growth,.bg-vehicle_track,.bg-watershed,.bg-wb,.bg-wbis{height:45px}
.bg-or{background:url(css_sprites.png) -205px -345px}
.bg-uk{background:url(css_sprites.png) -270px -345px}
.bg-mh{background:url(css_sprites.png) -335px -345px}
.bg-jk{background:url(css_sprites.png) -430px -10px}
.bg-rj{background:url(css_sprites.png) -430px -75px}
.bg-discover{background:url(css_sprites.png) -430px -140px}
.bg-tripura{background:url(css_sprites.png) -430px -205px}
.bg-tea{background:url(css_sprites.png) -430px -270px}
.bg-up{background:url(css_sprites.png) -430px -335px}
.bg-tn{background:url(css_sprites.png) -10px -410px}
.bg-cris{background:url(css_sprites.png) -75px -410px}
.bg-ga{width:45px;background:url(css_sprites.png) -140px -410px}
.bg-gj{background:url(css_sprites.png) -205px -410px}
.bg-deltas_india{background:url(css_sprites.png) -270px -410px}
.bg-Intdisaster{background:url(css_sprites.png) -335px -410px}
.bg-cleanganga_old{background:url(css_sprites.png) -400px -410px}
.bg-br{background:url(css_sprites.png) -495px -10px}
.bg-mp{background:url(css_sprites.png) -495px -75px}
.bg-wb{background:url(css_sprites.png) -495px -140px}
.bg-jh{background:url(css_sprites.png) -495px -205px}
.bg-ka{background:url(css_sprites.png) -495px -270px}
.bg-nagaland{background:url(css_sprites.png) -495px -335px}
.bg-hr{background:url(css_sprites.png) -495px -400px}
.bg-sat_aibp{width:44px;background:url(css_sprites.png) -690px -594px}
.bg-mizoram{width:45px;background:url(css_sprites.png) -10px -475px}
.bg-shapefile{width:45px;background:url(css_sprites.png) -75px -475px}
.bg-grass{width:45px;background:url(css_sprites.png) -140px -475px}
.bg-municipalgis{width:45px;background:url(css_sprites.png) -205px -475px}
.bg-Thematic{width:45px;background:url(css_sprites.png) -270px -475px}
.bg-island{width:45px;background:url(css_sprites.png) -335px -475px}
.bg-ap{width:45px;background:url(css_sprites.png) -400px -475px}
.bg-crowd{width:45px;height:45px;background:url(css_sprites.png) -465px -475px}
.bg-meal{width:45px;height:45px;background:url(css_sprites.png) -465px -475px}
.bg-disaster_services{width:45px;background:url(css_sprites.png) -560px -10px}
.bg-forestry_hp{width:45px;background:url(css_sprites.png) -560px -75px}
.bg-ch{width:45px;background:url(css_sprites.png) -560px -140px}
.bg-rail{width:45px;background:url(css_sprites.png) -560px -205px}
.bg-moef{width:45px;background:url(css_sprites.png) -560px -270px}
.bg-download2{width:45px;background:url(css_sprites.png) -560px -335px}
.bg-forestry_ka{width:45px;background:url(css_sprites.png) -560px -400px}
.bg-sea{width:45px;background:url(css_sprites.png) -560px -465px}
.bg-tollgate{width:45px;background:url(css_sprites.png) -10px -540px}
.bg-map{width:45px;background:url(css_sprites.png) -75px -540px}
.bg-building{width:45px;background:url(css_sprites.png) -140px -540px}
.bg-planning{width:45px;background:url(css_sprites.png) -205px -540px}
.bg-watershed{width:45px;background:url(css_sprites.png) -270px -540px}
.bg-arunachal{width:45px;background:url(css_sprites.png) -335px -540px}
.bg-kl{width:45px;background:url(css_sprites.png) -400px -540px}
.bg-demographics{width:45px;background:url(css_sprites.png) -465px -540px}
.bg-assam{width:45px;background:url(css_sprites.png) -530px -540px}
.bg-flycatchers{width:45px;background:url(css_sprites.png) -625px -10px}
.bg-vehicle_track{width:45px;background:url(css_sprites.png) -625px -75px}
.bg-sports{width:45px;background:url(css_sprites.png) -625px -140px}
.bg-urban_growth{width:45px;background:url(css_sprites.png) -625px -205px}
.bg-nices{width:45px;background:url(css_sprites.png) -625px -270px}
.bg-park{width:45px;background:url(css_sprites.png) -625px -335px}
.bg-horticulture{width:45px;background:url(css_sprites.png) -625px -400px}
.bg-meghalaya{width:45px;background:url(css_sprites.png) -625px -465px}
.bg-2d{width:45px;background:url(css_sprites.png) -625px -530px}
.bg-cloud{width:45px;background:url(css_sprites.png) -10px -605px}
.bg-plantation{width:45px;background:url(css_sprites.png) -75px -605px}
.bg-manu{width:45px;background:url(css_sprites.png) -140px -605px}
.bg-wbis{width:45px;background:url(css_sprites.png) -205px -605px}
.bg-housing{width:45px;background:url(css_sprites.png) -270px -605px}
.bg-irs{width:45px;height:27px;background:url(css_sprites.png) -74px -670px}
.bg-envis{width:45px;height:45px;background:url(css_sprites.png) -335px -605px}
.bg-minar{width:45px;height:45px;background:url(css_sprites.png) -400px -605px}
.bg-bore_pump{width:45px;height:45px;background:url(css_sprites.png) -465px -605px}
.bg-tourism{width:45px;height:45px;background:url(css_sprites.png) -530px -605px}
.bg-school{width:44px;height:45px;background:url(css_sprites.png) -10px -670px}
.bg-pmksy{width:45px;height:45px;background:url(css_sprites.png) -595px -605px}
.bg-cleanganga{width:25px;height:45px;background:url(css_sprites.png) -373px -120px}
.bg-forestry_uk,.bg-multi,.bg-mwrds,.bg-nabard,.bg-pipeline,.bg-twris{width:45px;height:45px}
.bg-pipeline{background:url(css_sprites.png) -690px -10px}
.bg-twris{background:url(css_sprites.png) -690px -75px}
.bg-nabard{background:url(css_sprites.png) -690px -140px}
.bg-forestry_uk{background:url(css_sprites.png) -690px -205px}
.bg-multi{background:url(css_sprites.png) -690px -270px}
.bg-mwrds{background:url(css_sprites.png) -690px -335px}
.bg-a10{width:400px;height:90px;background:url(css_sprites.png) -10px -10px}
.bg-download,.bg-post{width:45px;height:45px}
.bg-post{background:url(css_sprites.png) -690px -400px}
.bg-download{background:url(css_sprites.png) -690px -465px}

.bg-meal {width: 40px; height: 40px; background:url(css_sprites.png) -5px -740px;}